---
title: Surf and Paddle
---
<main id="maincontent">
  <article class="mainarticle">
    <h1>A fantastic Engaging headline goes here</h1>
    <div class="byline">
      <address class="author">
        <a rel="author" href="#">
          <div class="tint"><%= image_tag 'profileimage.jpeg' %></div> <span class="name">Anne Maria</span></a>
      </address>
      <div class="date">
            on <time pubdate datetime="2014-10-07" title="Oct. 7th 9:22pm">Monday Oct. 7th 9:22pm</time></div>
    </div><!-- End of byline -->
    <section class="articlecontent">
      <p>Lucas ipsum dolor sit amet antilles darth ahsoka moff leia ben skywalker skywalker ventress gamorrean. Organa mustafar mace grievous yavin antilles organa darth. Bothan jabba darth sidious wicket boba vader mandalorians.
<p>Organa solo ventress antilles wedge. Moff boba jabba secura. Moff jar binks lobot organa ewok r2-d2 ackbar windu. Dagobah solo organa leia lando jabba fett twi'lek. Antilles wicket droid zabrak kessel calamari coruscant mandalorians anakin. </p>

  <blockquote>woah, that's radical!</blockquote>

<p>Coruscant alderaan zabrak antilles wedge. Lando moff solo skywalker calamari. Mon vader skywalker darth mandalorians. Darth hutt sidious hutt skywalker amidala hutt wedge. Palpatine jango darth vader vader leia binks. Skywalker darth wicket jango skywalker mustafar. </p>

<p>Hutt alderaan ahsoka organa kenobi palpatine. Mace binks darth mon hutt jango mustafar antilles qui-gonn. Kit jade leia mandalorians moff owen. Sith bespin yavin mara darth kenobi han yoda. Darth amidala windu ackbar skywalker. </p>

    </section>

    <section class="commentsshare">
        <ul class="readcomments">
          <li><%= image_tag 'images/comments.png' %></li>
          <li><p>Read Comments</p></li>
        </ul>

          <ul class="readlater">
            <li><%= image_tag 'images/later.png' %></li>
            <li><p>Read Later</p></li>
          </ul>

          <ul class="sharelater">
            <li><%= image_tag 'images/share.png' %></li>
            <li><p>Share This Post</p></li>
          </ul>
    </section>
</article>

<aside>
  <section class="authoraside">
    <div class=tint><%= image_tag 'images/NicCageFace.jpg', :class => 'asideprofile' %></div>
    <h1>Anne Marie</h1>
    <ul class="asidesocialmedia">
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facbook</a></li>
      <li><a href="#">Instagram</a></li>
    </ul>

    <div class="tint280X300"><%= image_tag 'images/paddleboard.JPG', :class => 'asidead' %></div>
    <a class="asideadlink" href="#">About This Ad</a>

    <article class="asidearticle">
      <h2>Sidebard Section Heading</h2>
      <p><p>Coruscant alderaan zabrak antilles wedge. Lando moff solo skywalker calamari. Mon vader skywalker darth mandalorians. Grievous yavin darth mace organa. Solo biggs moff calamari ackbar. Hutt moff tatooine r2-d2 anakin solo jawa darth. Lars jabba naboo mara. Ackbar mandalorians mara skywalker maul yoda solo.</p>
    </article>
  </section>

</aside>
</main>
